@charset "UTF-8";
@font-face { font-family: "main"; src: url("../font/BlackHanSans-Regular.ttf"); }

@font-face { font-family: 'sub'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff"); font-weight: normal; font-style: normal; }

html { scroll-behavior: smooth; }

body { font-family: "sub"; color: #000; overflow-x: hidden; cursor: none; }

body::-webkit-scrollbar { position: relative; width: 12px; background-color: #f2f2f2; }

body::-webkit-scrollbar-thumb { width: 100%; border-radius: 20px; background-color: #000; }

button:focus { outline: 1px solid #000; }

.item { cursor: none; }

.cursor { position: absolute; top: 0; left: 0; width: 25px; height: 25px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.8); user-select: none; pointer-events: none; z-index: 9999; transition: transform 0.5s; }

.cursor.active { transform: scale(5); }

#header .btn_gnb { position: fixed; top: 20px; right: 10px; display: block; width: 40px; height: 35px; z-index: 8; }

#header .btn_gnb span { position: absolute; display: block; width: 100%; height: 5px; background-color: #000; }

#header .btn_gnb span:first-child { top: 0; }

#header .btn_gnb span:nth-child(2) { top: 50%; transform: translateY(-50%); }

#header .btn_gnb span:last-child { bottom: 0; }

#header .gnb { position: fixed; top: 0; right: -100%; width: 700px; height: 60px; background-color: #000; border-radius: 100px 0 0 100px; z-index: 9; transition: 0.5s ease; }

#header .gnb.on { right: 0; }

#header .gnb .gnb_list { display: flex; align-items: center; width: 100%; height: 100%; color: #fff; font-size: 2rem; }

#header .gnb .gnb_list li { margin-left: 25px; }

#header .gnb .gnb_list li a { display: block; line-height: 60px; }

#header .gnb .gnb_list li a:focus { border-color: #fff; }

#header .gnb .btn_close { position: absolute; top: 50%; right: 10px; transform: translateY(-50%); display: block; width: 40px; height: 60px; }

#header .gnb .btn_close span { position: absolute; top: 45%; transform: translateY(-50%); display: block; width: 100%; height: 5px; background-color: #fff; }

#header .gnb .btn_close span:first-child { transform: rotate(45deg); }

#header .gnb .btn_close span:last-child { transform: rotate(-45deg); }

section .inner { position: relative; width: 1500px; height: 100%; margin: 0 auto; overflow: hidden; }

section .inner h3 { font-family: "main"; }

#main_visual { position: relative; width: 100%; height: 100vh; }

#main_visual:after { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-25deg); display: block; width: 70%; height: 5px; background-color: #000; }

#main_visual h3 { position: absolute; top: 10%; left: 0%; font-size: 5rem; font-family: "main"; transition: 0.25s ease; }

#main_visual dl { position: absolute; bottom: 10%; right: 0%; font-size: 3rem; transition: 0.25s ease; }

#main_visual dl dt { margin-bottom: 40px; font-family: "main"; }

#main_visual dl dd { margin-top: 20px; }

#main section .inner > h3 { color: #fff; font-size: 5rem; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; }

#about { position: relative; width: 100%; }

#about.show .inner .skill { opacity: 1; }

#about.show .inner .skill .skill_view img { display: block; animation: fade_left 0.5s ease forwards; }

#about.show .inner .skill .skill_view p { display: block; animation: fade_left 0.5s ease forwards; }

#about .inner { display: flex; flex-wrap: wrap; justify-content: space-between; }

#about .inner .my_career { font-size: 3rem; }

#about .inner .my_career:before { content: 'CAREER'; display: block; margin-bottom: 40px; font-family: "main"; }

#about .inner .my_career li { margin-top: 20px; }

#about .inner .my_career li dl { display: flex; align-items: center; }

#about .inner .my_career li dl dt { position: relative; display: flex; align-items: center; font-size: 1.8rem; }

#about .inner .my_career li dl dt:after { content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: block; width: 30px; height: 2px; background-color: #000; }

#about .inner .my_career li dl dt span { display: block; width: 72.73px; }

#about .inner .my_career li dl dt span.end { margin-left: 60px; text-align: center; }

#about .inner .my_career li dl dd { margin-left: 50px; }

#about .inner .skill { width: 100%; height: 100%; margin-top: 50px; opacity: 0; transition: 0.5s ease; }

#about .inner .skill .skill_list { display: flex; justify-content: space-around; font-size: 2rem; }

#about .inner .skill .skill_list li button { display: inline-block; padding: 10px 20px; background-color: #fff; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6); border-radius: 100px; }

#about .inner .skill .skill_list li button.on { background-color: #000; color: #fff; }

#about .inner .skill .skill_view { position: relative; display: flex; justify-content: space-between; align-items: center; width: 790px; height: 400px; margin: 70px auto 0; font-size: 3rem; }

#about .inner .skill .skill_view img { position: relative; left: -300px; display: none; width: 250px; opacity: 0; }

#about .inner .skill .skill_view p { position: relative; left: 300px; display: none; width: 400px; line-height: 1.4; word-break: keep-all; opacity: 0; }

#portfolio { margin-top: 50px; }

#portfolio .portfolio_list.show li .contents .img_box { animation: fade_left 0.5s ease forwards; }

#portfolio .portfolio_list.show li .contents dl { animation: fade_left 0.5s ease forwards; }

#portfolio .portfolio_list li { margin-top: 100px; }

#portfolio .portfolio_list li:nth-child(even) .contents { flex-direction: row-reverse; }

#portfolio .portfolio_list li:nth-child(even) .contents .img_box { left: 300px; }

#portfolio .portfolio_list li:nth-child(even) .contents dl { left: -300px; margin-right: 100px; margin-left: 0; }

#portfolio .portfolio_list li .contents { display: flex; align-items: center; }

#portfolio .portfolio_list li .contents .img_box { position: relative; left: -300px; opacity: 0; }

#portfolio .portfolio_list li .contents .img_box img { width: 100%; }

#portfolio .portfolio_list li .contents dl { position: relative; left: 300px; margin-left: 100px; font-size: 2.6rem; opacity: 0; }

#portfolio .portfolio_list li .contents dl dt img { width: 250px; }

#portfolio .portfolio_list li .contents dl dd { margin-top: 20px; }

#portfolio .portfolio_list li .contents dl dd.site_info { color: #ff4a4a; font-size: 1.4rem; }

#portfolio .portfolio_list li .contents dl dd a { position: relative; display: inline-block; margin-top: 30px; padding: 15px 20px; border: 2px solid #000; overflow: hidden; transition: 0.5s ease; }

#portfolio .portfolio_list li .contents dl dd a.btn_null { color: #fff; background-color: #000; pointer-events: none; }

#portfolio .portfolio_list li .contents dl dd a:after { content: ''; position: absolute; top: 0; right: 95%; transform: skew(25deg); display: block; width: 100%; height: 100%; background-color: #000; transition: 0.5s ease; z-index: -1; }

#portfolio .portfolio_list li .contents dl dd a:hover { color: #fff; }

#portfolio .portfolio_list li .contents dl dd a:hover:after { right: 0; transform: skew(0); }

#footer { position: relative; width: 100%; height: 200px; margin-top: 100px; border-top: 2px solid #000; }

#footer p { display: block; line-height: 200px; text-align: center; font-size: 2.4rem; }

#footer .btn_top { position: absolute; bottom: 200px; right: 5px; display: flex; justify-content: center; align-items: center; width: 50px; height: 50px; border: 2px solid #000; opacity: 0; transition: 0.5s ease; }

#footer .btn_top:focus { border-color: #f00; }

#footer .btn_top:after { content: '▲'; font-size: 3rem; color: #000; }

#footer .btn_top.on { bottom: 230px; opacity: 1; }

@keyframes fade_left { 0% { opacity: 0; }
  100% { left: 0;
    opacity: 1; } }

@keyframes on_right { 0% { opacity: 0; }
  100% { right: 0;
    opacity: 1; } }
