@font-face {
    /* 구글폰트 blackhansans*/
    font-family: "main";
    src: url("../font/BlackHanSans-Regular.ttf");
}

@font-face {
    /* 눈누폰트 잘풀리는 오늘체*/
    font-family: "sub";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "sub";
    color: #000;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
    &::-webkit-scrollbar {
        position: relative;
        width: 12px;
        background-color: #f2f2f2;
    }
    &::-webkit-scrollbar-thumb {
        width: 100%;
        border-radius: 20px;
        background-color: #000;
    }
    cursor: none;
    &.loading {
        position: relative;
        background-color: rgba(0, 0, 0, 1);
        overflow: hidden;
        z-index: 999999999;
        .cursor {
            width: 40vw;
            height: 40vw;
            background: #fff;
            background-attachment: fixed;
            background-size: cover;
            border: 5px solid #fff;
            z-index: -1;
        }
        #header {
            opacity: 0;
        }
    }
}

button {
    &:focus {
        outline: 1px solid #000;
    }
}

.item {
    cursor: none;
}

.loading_second {
    position: fixed;
    left: 10%;
    bottom: 10%;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 5rem;
    font-family: "main";
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    z-index: 9999;
    font-size: 5rem;
}

.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    pointer-events: none;
    z-index: 9999;
    transition: transform 0.5s, width 0.5s, height 0.5s ease;
    &.active {
        transform: scale(5);
    }
}

#header {
    opacity: 1;
    transition: 0.5s ease;
    .btn_gnb {
        position: fixed;
        top: 20px;
        right: 10px;
        display: block;
        width: 60px;
        height: 60px;
        z-index: 8;
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 100%;
        transition: 0.5s ease;
        span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 30px;
            height: 5px;
            background-color: #000;
            transition: 0.5s ease;
            &:first-child {
                top: 14px;
            }
            &:nth-child(2) {
                top: 26px;
            }
            &:last-child {
                top: 39px;
            }
        }
        &:hover {
            background-color: #000;
            span {
                background-color: #fff;
            }
        }
    }
    .gnb {
        position: fixed;
        top: 0;
        right: -100%;
        width: 700px;
        height: 60px;
        background-color: #000;
        border-radius: 100px 0 0 100px;
        z-index: 9;
        transition: 0.5s ease;
        &.on {
            right: 0;
        }
        .gnb_list {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 2rem;
            li {
                margin-left: 25px;
                a {
                    display: block;
                    line-height: 60px;
                    &:focus {
                        border-color: #fff;
                    }
                }
            }
        }
        .btn_close {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            display: block;
            width: 40px;
            height: 60px;
            span {
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                display: block;
                width: 100%;
                height: 5px;
                background-color: #fff;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

section {
    .inner {
        position: relative;
        width: 1500px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        h3 {
            font-family: "main";
        }
    }
}

#main_visual {
    position: relative;
    width: 100%;
    height: 100vh;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-25deg);
        display: block;
        width: 70%;
        height: 5px;
        background-color: #000;
    }
    h3 {
        position: absolute;
        top: 10%;
        left: 0%;
        font-size: 5rem;
        font-family: "main";
        transition: 0.25s ease;
    }
    dl {
        position: absolute;
        bottom: 10%;
        right: 0%;
        font-size: 3rem;
        transition: 0.25s ease;
        dt {
            margin-bottom: 40px;
            font-family: "main";
        }
        dd {
            margin-top: 20px;
        }
    }
}

#main {
    section {
        position: relative;
    }
}

#about {
    width: 100%;
    &.show {
        .inner {
            .skill {
                opacity: 1;
                .skill_view {
                    img {
                        display: block;
                        animation: fade_left 0.5s ease forwards;
                    }
                    p {
                        display: block;
                        animation: fade_left 0.5s ease forwards;
                    }
                }
            }
        }
    }
    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > h3 {
            color: #fff;
            font-size: 5rem;
            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        }
        .my_career {
            font-size: 3rem;
            &:before {
                content: "CAREER";
                display: block;
                margin-bottom: 40px;
                font-family: "main";
            }
            li {
                margin-top: 20px;
                dl {
                    display: flex;
                    align-items: center;
                    dt {
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 1.8rem;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 30px;
                            height: 2px;
                            background-color: #000;
                        }
                        span {
                            display: block;
                            width: 72.73px;
                            &.end {
                                margin-left: 60px;
                                text-align: center;
                            }
                        }
                    }
                    dd {
                        margin-left: 50px;
                    }
                }
            }
        }
        .skill {
            width: 100%;
            height: 100%;
            margin-top: 50px;
            opacity: 0;
            transition: 0.5s ease;
            .skill_list {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                li {
                    &:nth-child(n + 2) {
                        margin-left: 20px;
                    }
                    button {
                        display: inline-block;
                        padding: 10px 20px;
                        background-color: #fff;
                        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
                        border-radius: 100px;
                        &.on {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
            .skill_view {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 790px;
                height: 400px;
                margin: 70px auto 0;
                font-size: 3rem;
                img {
                    position: relative;
                    left: -300px;
                    display: none;
                    width: 250px;
                    opacity: 0;
                }
                p {
                    position: relative;
                    left: 300px;
                    display: none;
                    width: 400px;
                    line-height: 1.4;
                    word-break: keep-all;
                    opacity: 0;
                }
            }
        }
    }
}

#portfolio {
    margin-top: 50px;
    #popup {
        position: fixed;
        top: 50%;
        right: 30%;
        transform: translateY(-50%);
        display: block;
        width: 450px;
        height: 350px;
        font-size: 2rem;
        text-align: center;
        word-break: keep-all;
        background-color: #fff;
        opacity: 0;
        z-index: 9;
        &:before {
            content: 'drag이동!';
            position: absolute;
            top: -25px;
            right: -40px;
            transform: rotate(25deg);
        }
        .line {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            background-color: #000;
            transition: 0.5s ease-in;
            &.top {
                top: 0;
                left: 0;
            }
            &.right {
                top: 0;
                right: 0;
            }
            &.bottom {
                bottom: 0;
                right: 0;
            }
            &.left {
                bottom: 0;
                left: 0;
            }
        }
        .inner {
            width: 100%;
            margin: 0;
            opacity: 0;
            transition: 0.5s ease;
            p {
                margin-top: 25px;
                line-height: 1.5;
            }
            .link_list {
                line-height: 1.5;
                margin-top: 50px;
                font-size: 2.4rem;
                li {
                    a {
                        position: relative;
                        display: inline-block;
                        padding: 10px 0;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 10px;
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: #000;
                            transition: 0.5s ease;
                        }
                        &:hover {
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .btn_list {
                position: absolute;
                right: 10px;
                bottom: 10px;
                display: flex;
                font-size: 1.4rem;
                li {
                    &:last-child {
                        margin-left: 15px;
                    }
                    button {
                        position: relative;
                        display: inline-block;
                        padding: 5px 10px;
                        border: 1px solid #000;
                        overflow: hidden;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 95%;
                            transform: skewX(25deg);
                            display: block;
                            width: 100%;
                            height: 100%;
                            background-color: #000;
                            transition: 0.5s ease;
                            z-index: -1;
                        }
                        &:hover {
                            color: #fff;
                            &:after {
                                right: 0;
                                transform: skewX(0);
                            }
                        }
                    }
                }
            }
        }
        &.show {
            opacity: 1;
            .top {
                width: 100%;
                height: 1px;
            }
            .right {
                width: 1px;
                height: 100%;
            }
            .bottom {
                width: 100%;
                height: 1px;
            }
            .left {
                width: 1px;
                height: 100%;
            }
            .inner {
                opacity: 1;
            }
        }
    }
    .inner {
        > h3 {
            color: #fff;
            font-size: 5rem;
            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        }
        .portfolio_list {
            &.show {
                li {
                    .contents {
                        .img_box {
                            animation: fade_left 0.5s ease forwards;
                        }
                        dl {
                            animation: fade_left 0.5s ease forwards;
                        }
                    }
                }
            }
            li {
                margin-top: 100px;
                &:nth-child(even) {
                    .contents {
                        flex-direction: row-reverse;
                        .img_box {
                            left: 300px;
                        }
                        dl {
                            left: -300px;
                            margin-right: 100px;
                            margin-left: 0;
                        }
                    }
                }
                .contents {
                    display: flex;
                    align-items: center;
                    .img_box {
                        position: relative;
                        left: -300px;
                        opacity: 0;
                        img {
                            width: 100%;
                        }
                    }
                    dl {
                        position: relative;
                        left: 300px;
                        margin-left: 100px;
                        font-size: 2.6rem;
                        opacity: 0;
                        dt {
                            img {
                                width: 250px;
                            }
                        }
                        dd {
                            margin-top: 20px;
                            &.site_info {
                                color: #ff4a4a;
                                font-size: 1.4rem;
                            }
                            a {
                                position: relative;
                                display: inline-block;
                                margin-top: 30px;
                                padding: 15px 20px;
                                border: 2px solid #000;
                                overflow: hidden;
                                transition: 0.5s ease;
                                &.btn_null {
                                    color: #fff;
                                    background-color: #000;
                                    pointer-events: none;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    right: 95%;
                                    transform: skew(25deg);
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #000;
                                    transition: 0.5s ease;
                                    z-index: -1;
                                }
                                &:hover {
                                    color: #fff;
                                    &:after {
                                        right: 0;
                                        transform: skew(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

#footer {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 100px;
    border-top: 2px solid #000;
    p {
        display: block;
        line-height: 200px;
        text-align: center;
        font-size: 2.4rem;
    }
    .btn_top {
        position: absolute;
        bottom: 200px;
        right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #000;
        opacity: 0;
        transition: 0.5s ease;
        &:focus {
            border-color: #f00;
        }
        &:hover {
            background-color: #000;
            &:after {
                color: #fff;
            }
        }
        &:after {
            content: "▲";
            font-size: 3rem;
            color: #000;
        }
        &.on {
            bottom: 230px;
            opacity: 1;
        }
    }
}

@keyframes fade_left {
    0% {
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes on_right {
    0% {
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}
